body {
    display: block;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
header{
	
	/*grid-template-columns: 80% 20%;*/
/*	grid-template-rows:200px;*/
	/*grid-template-rows: 50px 50px 50px 50px;*/
	margin-bottom: 50px;
}
h1{
		position: absolute;
		/*grid-column-start: 1;*/
		/*grid-row-start: 1;
		grid-row-end: 2;*/
		margin-top:0px;
		margin-bottom: 200px;
		color: #FCC5C5;
		font-size:16px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
	}
nav{
		/*grid-column-start: 2;*/
		margin-left: 83%;
		/*display: flex;
		align-items: flex-start;*/
		/*grid-template-rows: 50px 50px 50px 50px;*/
		/*grid-template-rows: 50px 50px 50px 50px;*/
  	}
nav a{	
	 	/*grid-row:1/5;*/
	 	display: flex;
		align-items: flex-start;
  		color: #292929;
		font-size: 16px;
		font-family: 'Open Sans', sans-serif;
		margin-right: 0px;
		margin-bottom: 20px;
	}
nav a:link{
	text-decoration: none;
}
nav a:visited{
	color:#292929;
}
nav a:hover{
	color:#292929;
	text-decoration: underline;
}
.logopart i {
	display: none;
}
h2{

	color: #292929;
	font-size: 40px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin-bottom: 30px;
}
.logopart p {
/*	width:100%;
	margin-bottom: 40px;
	color: #292929;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;*/
	display:none;
}
img {
	width:100%;
	margin: 10px 0px 5px 0px;
}
h3{
		margin-top:14px;
		margin-bottom:0px;
		color: #292929;
		font-size:16px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
	}
	h3 a:link {
		color:#292929;
		text-decoration: none; 
	}
	h3 a:visited{
		color:#292929;
		text-decoration: none; 
	}
	h3 a:hover{
		color:#292929;
		text-decoration: underline;
	}
	h4{
		margin-top:0px;
		color: #999999;
		font-size:16px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
}

@media screen and (orientation:landscape){
	header{
		margin-top:0px;
		margin-bottom:0px;
	}
	nav a{
		margin-bottom:10px;
	}
	h2{
	margin-top: 0px;
}
}

@media only screen and (min-width:600px){
	 header{
	  margin-bottom:40px;
	 }
	 h1{
	  font-size:19px;
	 }
	 nav{
	  /*grid-column-start: 2;*/
	  margin-left: 30%;
	  display: flex;
	  flex-direction: row;
	 }
	 nav a:link{
	  font-size:19px;
	  margin-right: 8%;
	 }
	 nav a:visited{
	  font-size:19px;
	  margin-right:8%;
	 }
	 nav a:hover{
	  font-size:19px;
	  margin-right:8%;
	  color:#292929;
	  text-decoration: underline;
	 }
	.logopart i{
		display:inline-block;
		position:absolute;
		margin-top: 16px;
	 }
	 h2{
	  font-size: 70px;
	  margin-left:30%;
	  margin-top: 130px;
	  margin-bottom: 0px;
	 }
	 .logopart p{
	  display:inline-block;
	  font-size:19px;
	  margin-left:30%;
	  margin-top: 30px;
	  margin-right: 10px;
	  margin-bottom: 50px;
	 }
	 .workbanner{
	  display:grid;
	  grid-template-columns: 1fr 1fr;

	 }
	 img{
	  width:96%;
	  margin-right:10px;
	  margin-top:10px;
	 }
	 .workbanner > div + a{
	  width:30vw;
	 }
	 h3{
	  font-size:19px;
	 }
	 h3 a:link {
	  color:#292929;
	 }
	 h3 a:visited{
	  color:#292929;
	  text-decoration: none; 
	 }
	 h3 a:hover{
	  color:#292929;
	  text-decoration: underline;
	 }
	 h4{
	  font-size:19px;
	 }
	}

@media screen and (min-width: 992px){
	 nav{
	  /*grid-column-start: 2;*/
	  margin-left: 33.5%;
	  display: flex;
	  flex-direction: row;
	 }
	 nav a:link{
	  font-size:19px;
	  margin-right: 54px;
	 }
	 nav a:visited{
	  font-size:19px;
	  margin-right: 54px;
	 }
	 nav a:hover{
	  font-size:19px;
	  margin-right: 54px;
	  color:#292929;
	  text-decoration: underline;
	 }
	 h2{
		margin-left:33.5%;
	 	 font-size:80px;
	 }
	 .logopart p{
	 	 margin-left:33.5%;
	 }
	 .workbanner{
	  display:grid;
	  grid-template-columns: 1fr 1fr 1fr;

	 }

}
